.threeCanvas {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.videoCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
}

.loader {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center !important;
	opacity: 1;
}
#trackbutton {
	z-index: 3;
	text-align: center !important;
}

.bx--btn {
	text-align: center;
	padding: 0 2rem 0;
}
